/*
listrJS v1. by Chida
*/

.listr-search-bar {
    padding: 0 14px;
    border-radius: 4px;
    margin: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #666;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}


.listr-container {
    border-radius: 4px;
    margin-top:14px;
    border: 1px solid #6c6c6c;
    width: inherit;
    position: absolute;
    display: none;
}

.listr-container.active {
    display: block;
}

.listr-container .listr-item{
    padding: 8px 14px;
    cursor: pointer;
}

.listr-container .listr-item:hover, .listr-container .listr-item.selected  {
    background: #397ef7;
    color:#fff;
}

.listr-pill {
    padding: 0 6px;
    margin:1px;
    border-radius: 10px;
    background: #397ef7;
    color:#fff;
    display: flex;
    
}

.listr-item.selected {
    opacity: .5;
}

.listr-pill .listr-close {
    padding-top:2px;
    color: #fff;
    margin-left: 10px;
    margin-top: -5px;
    cursor: pointer;
}

/* create a close icon  */
.listr-close::after {
    content: "×";
    font-size: 20px;
    font-weight: bold;
}


.listr-faux-input {
    min-height: 36px;
    border-radius: 4px;
    padding: 3px 0;
    flex-wrap: wrap;
    border: 1px solid #6c6c6c;
    align-items: center;
    display: flex;
    font-family: system-ui;
    width: inherit;
    cursor: pointer;
}

.listr-faux-input-text {
    padding: 0 14px;
    z-index: -1;
    font-size: .9em;
}

.listr{
    width: 400px;
}

.listr-dropdown-list{
    max-height: 300px;
    overflow-y: scroll;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listr-search-bar-container{
    display: flex;
    justify-content: center;
}
